{% load static %}
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/teacher_serve.css' %}">
</head>
<head>
  <title>老師/社長服務頁面</title>
</head>
<body>
  <h1>轉社系統</h1>
  <ul>
    <li><a href="{% url 'check_transfer_form_approval' %}">審核轉社單</a></li>
  </ul>
  <style>
    .center {
        display: flex;
        justify-content: center;
    }
</style>
<style>
  .center-text {
      text-align: center;
  }
</style>

<div class="center-text">
  <h3>目前登入的使用者：{{ request.user.username }}</h3>
</div>
<div class="center">
    <form action="{% url 'logout' %}" method="POST">
        {% csrf_token %}
        <button type="submit">登出</button>
    </form>
</div>
</body>
</html>